name: Test
on:
  workflow_dispatch:
    inputs:
      pull_request_number:
        required: true
        description: "プルリクエストの番号"
        default: ""


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run
        uses: iwata-n/actions-pull-request-json@main
        with:
          pullRequstNumber: $github.event.inputs.app_priority